<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de torneo</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/registroTorneo.css">
</head>

<body>
    <div id="content">
        <div id="regFormDiv">
            <form action="/torneos/add" method="POST">
                <span id="formTitle">Editar Torneo</span>
                <div class="regSection">
                    <span class="regHeader">Información básica</span>
                    <div class="regBody">
                        <div class="regFormRow">
                            <span class="regFormLabel">Nombre del torneo</span>
                            <input type="text" value="{{torneo.nombre}}" placeholder="Nombre torneo" name="nombre">
                        </div>
                        <div class="regFormRow">
                            <span class="regFormLabel">Descripción del torneo</span>
                            <textarea name="descripcion" id="tourDesc" placeholder="Descripción del torneo..." cols="50" rows="8">
                                {{torneo.descripcion}}
                            </textarea>
                        </div>
                        <div class="regFormRow">
                            <span class="regFormLabel">Reglas del torneo</span>
                            <textarea name="reglas" id="tourRules" placeholder="Reglas del torneo..." cols="50"
                                rows="8">{{torneo.reglas}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="regSection">
                    <span class="regHeader">Información de juego</span>
                    <div class="regBody">
                        <div class="regFormRow">
                            <span class="regFormLabel">Juego a jugar</span>
                            <input type="text" value="{{torneo.juego}}" placeholder="Nombre juego" name="juego">
                        </div>
                        <div class="regFormRow">
                            <span class="regFormLabel">Formato</span>
                            <select name="tourFormat" id="tourFormat">
                                <option value="singleElim">Única eliminación</option>
                                <option value="doubleElim">Doble eliminación</option>
                                <option value="roundRobin">Round Robin</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="regSection">
                    <span class="regHeader">Información de torneo</span>
                    <div class="regBody">
                        <div class="regFormRow">
                            <span class="regFormLabel">Fecha del torneo</span>
                            <input type="datetime-local" value="{{torneo.fecha_comienzo}}" name="fecha_comienzo">
                        </div>
                        <div class="regFormRow">
                            <span class="regFormLabel">Límite de jugadores</span>
                            <input type="number" value="{{torneo.participantes}}"  min="0" max="64" value="8" name="participantes">
                        </div>
                    </div>
                </div>
                <button type="submit" id="formSubmitButton">Guardar y continuar</button>
        </div>
        </form>
    </div>

</body>

</html>