<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Perfil usuario</title>
     <link rel="stylesheet" type="text/css" href="/style.css">
     <link rel="stylesheet" type="text/css" href="/profile.css">
</head>
<body>
     
</body>
</html>

{{> header}}

<div id="profileTitleDivOut" class="center">
     <div id="profileTitleDiv">
          <img id="profileUserImg" src="./fotos/iconos/user.png" alt="">
          <div id="profileUserInfo">
               <span id="profileUserText">{{user.correo}}</span>
               <span class="profileUserSubtext">Nombre: {{user.nombre}}</span>
               <span class="profileUserSubtext">Apellido: {{user.apellido}}</span>
               <span class="profileUserSubtext">Alias: {{user.alias}}</span>
               <span class="profileUserSubtext">Telefono: {{user.telefono}}</span>
               <span class="profileUserSubtext">Registrado desde: {{user.fecha_comienzo}}</span>
          </div>
     </div>
</div>

<div class="center">
     <a id="createTourButton" href="torneos/add">Crear Torneo</a>
</div>

{{> footer}}